[submodule "site-lisp/eglot-booster"]
	path = site-lisp/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster.git
[submodule "site-lisp/eglot-x"]
	path = site-lisp/eglot-x
	url = https://github.com/nemethf/eglot-x.git
